@charset "utf-8";
/* CSS Document */

/****************************************************************************************************/
/* initialization */
p,
html,
body {
	margin: 0;
	padding: 0;
	font-family:Verdana, Geneva, sans-serif;
}




/****************************************************************************************************/
/* CSS for fonts */






/****************************************************************************************************/
/* CSS for navagation format */
nav {
	padding-top: 5px;
	margin-left: 90px;
	text-align: center;
	
}

nav ul{
	display: inline-block;
	list-style-type: none;
	text-align: center;
}

nav li{
	display: inline-block;
	list-style-type: none;
}

nav a,
nav a:link,
nav a:visited {
	display:inline-block;
	padding: 4px;
	position:relative;
	background-color: #36c;
	background-image: -moz-linear-gradient(#333333,#aa0114);
	border-radius: 6px;
	border: 1px solid #036;
	border-bottom-color: #036;
	color: #fff;
	text-decoration:none;
	text-shadow: -1px -1px 0 rgba(0,51,102,0.6);
	box-shadow: 0 5px 0 #555;
	width: 105px;
	height: 18px;
	text-align: center;
}
nav a:active {
	top: 2px;
/*	background-image: -moz-linear-gradient(#25b,#58e);*/
	background-image: -moz-linear-gradient(#aa0114,#333333);
	box-shadow:none;
	border-bottom-color: #036;
	height: 18px;
	width: 105px;
	text-align: center;
}
nav a:hover {
	background-image: -moz-linear-gradient(#aa0114,#333333);
}

/****************************************************************************************************/
/* CSS for general Page format */
html {
	background-color: #ddd;
	font: 1.5;
}



html,
body {
	margin: 0; 
	padding: 0 
	}

body {
	height: 700px;
	width: 900px;
	margin: 1em auto;
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);

}	


/****************************************************************************************************/
/* CSS for logo format */


.top-logo-logo {
	float: left;
	margin-left: 15px;
}


.top-bar {
	background-image: url(../images/bar.png);
	font-size:1px;
}

.bottom-bar {
	background-image: url(../images/bar.png);
	font-size:1px;
	margin-top: 15px;
}

.top-logo-slogan {
	margin: 10px;
	text-align: center;
	
}

nav ul {
	margin:0 0 0 5px;
	padding: 0;
}

















