@charset "utf-8";
/* CSS Document */

/****************************************************************************************************/
/* initialization */
h3,
p,
html,
body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family:Verdana, Geneva, sans-serif;
}




/****************************************************************************************************/
/* CSS for fonts */






/****************************************************************************************************/
/* CSS for navagation format */
nav {
	padding-top: 5px;
	margin-left: 90px;
	text-align: center;
	
}

nav ul{
	display: inline-block;
	list-style-type: none;
	text-align: center;
}

nav li{
	display: inline-block;
	list-style-type: none;
}

nav a,
nav a:link,
nav a:visited {
	display:inline-block;
	padding: 4px;
	position:relative;
	background-color: #36c;
	background-image: -moz-linear-gradient(#333333,#aa0114);
	border-radius: 6px;
	border: 1px solid #036;
	border-bottom-color: #036;
	color: #fff;
	text-decoration:none;
	text-shadow: -1px -1px 0 rgba(0,51,102,0.6);
	box-shadow: 0 5px 0 #555;
	width: 105px;
	height: 18px;
	text-align: center;
}
nav a:active {
	top: 2px;
/*	background-image: -moz-linear-gradient(#25b,#58e);*/
	background-image: -moz-linear-gradient(#aa0114,#333333);
	box-shadow:none;
	border-bottom-color: #036;
	height: 18px;
	width: 105px;
	text-align: center;
}
nav a:hover {
	background-image: -moz-linear-gradient(#aa0114,#333333);
}

/****************************************************************************************************/
/* CSS for general Page format */
html {
	background-color: #ddd;
	font: 1.5;
}



html,
body {
	margin: 0; 
	padding: 0 
	}

body {
	height: 700px;
	width: 900px;
	margin: 1em auto;
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
	position: relative;

}	

#main {
   background:#fff;
   margin-right: 300px;
   border:1px solid #000;
   padding: 0px 5px;
 }


 #right {
   position: absolute;
   right:0px;
   top:158px;
   width:286px;
   background:#fff;
   border:1px solid #000;
   padding: 0px 5px;
 }















/****************************************************************************************************/
/* CSS for header format */


.top-logo-logo {
	float: left;
	margin-left: 15px;
}


.top-bar {
	background-image: url(../images/bar.png);
	font-size:1px;
}

.bottom-bar {
	background-image: url(../images/bar.png);
	font-size:1px;
	margin-top: 15px;
}

.top-logo-slogan {
	margin: 10px;
	text-align: center;
	
}

.top-logo-slogan h3 {
	margin: 2x;
	padding: 2px;
	
}

h3 span {
	color: #900;
	
}

.top-banner-date {
	background: url(../images/header-Banner.png) left no-repeat;
	margin-left: 10px;
	font-size:8px;
	font-weight: bolder;
	min-height: 30px;
}


/*.top-banner-date a:first-child {
	background-image: url(../images/contact.png);
	background-repeat: no-repeat;
}

.top-banner-date a:last-child {
	background-image: url(../images/home.png);
	background-repeat: no-repeat;
}

.top-banner-date a span {
	display: none;
}*/

nav ul {
	margin:0 0 0 5px;
	padding: 0;
}


/****************************************************************************************************/
/* CSS for footer format */

footer {
	position: absolute;
	top: 91%;
	background: url(../images/static-banner.jpg) left no-repeat;
	width: 900px;
	min-height: 60px;
}





/****************************************************************************************************/
/* CSS for setup format */


/*html {background-color: #aaa;}
body {background-color: #ca0;}
footer {background-color: #a78;}
*/





