@charset "utf-8";
/* CSS Document */

/****************************************************************************************************/
/* initialization */
p,
h4,
h5,
html,
body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family:Verdana, Geneva, sans-serif;
}

h3,
h2 {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: "Times New Roman", Times, serif;
}

#contact-form-h5 {
	margin: 5px;
	padding: 0px;
	border: 0px;
}

ul {
	list-style-type: none;
}

a {
	
	text-decoration: none;
}

h3 {
	padding-top: 5px;
	padding-bottom: 5px;
}

h4 {
	padding-top: 5px;
	padding-bottom: 5px;
}

h5 {
	padding-top: 5px;
	padding-bottom: 5px;
	
}






/****************************************************************************************************/
/* CSS for fonts */






/****************************************************************************************************/
/* CSS for navagation  */
nav {
	padding-top: 5px;
	margin-left: 90px;
	text-align: center;
	
}

nav ul{
	display: inline-block;
	list-style-type: none;
	text-align: center;
}

nav li{
	display: inline-block;
	list-style-type: none;
}

nav a,
nav a:link,
nav a:visited {
	display:inline-block;
	padding: 4px;
	position:relative;
	background-color: #36c;
	background-image: -moz-linear-gradient(#333333,#aa0114);
	border-radius: 6px;
	border: 1px solid #036;
	border-bottom-color: #036;
	color: #fff;
	text-decoration:none;
	text-shadow: -1px -1px 0 rgba(0,51,102,0.6);
	box-shadow: 0 5px 0 #555;
	width: 105px;
	height: 18px;
	text-align: center;
}
nav a:active {
	top: 2px;
/*	background-image: -moz-linear-gradient(#25b,#58e);*/
	background-image: -moz-linear-gradient(#aa0114,#333333);
	box-shadow:none;
	border-bottom-color: #036;
	height: 18px;
	width: 105px;
	text-align: center;
}
nav a:hover {
	background-image: -moz-linear-gradient(#aa0114,#333333);
}

/****************************************************************************************************/
/* CSS for general page  */
html {
	background-color: #ddd;
}



html,
body {
	margin: 0; 
	padding: 0;
	font-size: 12px;
	}

body {
	height: 700px;
	width: 900px;
	margin: 1em auto;
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
	position: relative;

}	

/****************************************************************************************************/
/* CSS for home page  */

#home-main {
	background:#fff;
	margin-right: 300px;
	padding: 0px 5px;
 }

#home-right {
	position: absolute;
	right:0px;
	top:145px;
	width:286px;
	background:#fff;
	padding: 0px 5px;
 }

.home-main h2 {
	text-align: center;
	
}
.home-main-top {
	background-color: #fff;
	min-height: 100px;
	width: 600px;
}

.home-main-middle {
	background-color: #fff;
	min-height: 100px;
	position: relative;
	width: 600px;
}

.home-main-middle-left {
	position: absolute;
	left: 0px;
	background-color: #fff;
	width: 198px;
	min-height: 100px;
}

.home-main-middle-center {
	background-color: #fff;
	position: absolute;
	left: 200px;
	width: 198px;
	min-height: 100px;
	text-align: center;
}

.home-main-middle-right {
	background-color: #fff;
	width: 198px;
	position: absolute;
	left: 400px;
	min-height: 100px;
	margin-left: 10px;
}

.home-main-bottom {
	position: absolute;
	left: 0px;
	top: 560px;
	background-color: #eee;
	min-height: 75px;
	width: 600px;
	border-left: solid;
	border-left-width: 20px;
	border-left-color: #aa0114;
	
}

.home-main-bottom p{
	font-size: 18px;
	margin-left: 20px;
	color: #aa0114;
}

.home-main-top p:first-child {
	padding-top: 2em;
}


/****************************************************************************************************/
/* CSS for header  */


.top-logo-logo {
	float: left;
	margin-left: 15px;
}


.top-bar {
	background-image: url(../images/bar.png);
	font-size:1px;
}

.bottom-bar {
	background-image: url(../images/bar.png);
	font-size:1px;
	margin-top: 15px;
}

.top-logo-slogan {
	margin: 10px;
	text-align: center;
}

.top-logo-slogan h3 {
	margin: 2x;
	padding: 2px;
	font-family: Verdana;
}

h3 span {
	color: #900;
	
}

.top-banner-date {
	margin-left: 10px;
	font-size:8px;
	font-weight: bolder;
	min-height: 20px;
	vertical-align: middle;
	padding-top: 10px;
}

#sales1 {
	padding-left: 3em;
}

#sales2 {
	color: #aa0114;
}

#support1 {
	padding-left: 3em;
}

#support2 {
	color: #aa0114;
}

/*.top-banner-date a:first-child {
	background-image: url(../images/contact.png);
	background-repeat: no-repeat;
}
*/#go-contact {
	background-image: url(../images/contact.png);
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -999em;
	overflow: hidden;
	width:21px;
	height: 15px;
	vertical-align: middle;
	padding-right: 8em;
}

#date {
	padding-right: 8em;
}
/*.top-banner-date a:last-child {
	background-image: url(../images/home.png);
	background-repeat: no-repeat;
}
*/#go-home {
	background-image: url(../images/home.png);
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -999em;
	overflow: hidden;
	width:15px;
	height: 15px;
	vertical-align: middle;
	padding-right: 3em;
}

.top-banner-date a span {
/*	display: none;*/
}

nav ul {
	margin:0 0 0 5px;
	padding: 0;
}


/****************************************************************************************************/
/* CSS for footer  */

footer {
	position: absolute;
	top: 91%;
	background: url(../images/static-banner.jpg) left no-repeat;
	width: 900px;
	min-height: 60px;
}

/****************************************************************************************************/
/* CSS for slides  */



.slideshow-border{
	border: 2px solid #aa0114;
	width: 193px;
	height: 200px;
	margin: 0 0 1.3em;
}
	
	
.slideshow {
	width: 193px;
	height: 200px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}

.slides {
	height: 202px;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 20000em;
}

.slide {
	display: inline;
	float: left;
	height: 200px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 193px;
}

.slide .img {
	width: 100%;
}




/****************************************************************************************************/
/* CSS for  Home page right side  */

.home-right-top {
	width: 280px;
	margin-top: 13px;
}

.home-right-top-form {
	margin: auto;
	border: solid 2px #aa0114;
	width: 185px;
	background-color: #eee;
}

.home-right-top-form-data {
	margin: 5px;
}

.home-right-top-form-data span{
	color: #aa0114;
}

.home-right-top-form-data p{
	font-weight: bold;
	font-size: 11px;
	margin: 4px 0;
}
button {
	font-size:10px;
}

/****************************************************************************************************/
/* CSS for all other pages  */

#main {
	background:#fff;
/*	background:#0c0; */
	margin-right: 310px;
	padding: 0px;
	height: 490px;
	overflow: scroll;
 }

#right {
	position: absolute;
	right:0px;
	top: 148px;
	width:286px;
	background:#fff;
/*	background:#c0c; */
	padding: 0px 5px;
 }

.main {
	margin: 5px;
}

.right {
	margin: 5px;
}




/****************************************************************************************************/
/* CSS for setup  */


/*html {background-color: #aaa;}
body {background-color: #ca0;}
footer {background-color: #a78;}
*/





